@import "variables";
@import "mixins";
.article-container{
    @include flex-spaced;
    .article-right{
        border: 1px solid orange;
    }
    .article-left{
        .search-input{
           position: relative;
        }
        .search-icon{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}