@import "variables";
@import "mixins";
.contact_header {
  background-color: $bg-color;
  //padding-bottom: $size-large;
  position: relative;
  overflow: hidden;
  .content {
    padding: $size-large 0;
    text-align: center;
    ul {
      @include flex-center;
      li {
        margin-left: $size-500;
        font-size: $fs-500;
      }
    }
    h1 {
      font-size: 55px;
    }
  }

  .line-container {
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: 900px) {
      img {
        width: 50rem;
      }
    }
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 8rem;
  gap: $size-700;
  @media (max-width: 1210px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
  .card {
    border: 1px solid $light-gray;
    padding: 4.8rem 3.3rem 5.1rem 6.3rem;
    display: flex;

    img {
      width: 6rem;
      margin-right: $size-700;
    }
    .card_title {
      font-size: $fs-700;
      margin-bottom: $size-600;
    }
    .card_footer {
      color: $dark-gray;
      font-size: $fs-600;
      line-height: 3.3rem;
    }
  }
}
.form-container {
  background-color: $bg-color;
  padding: 12rem;
  margin: 8rem auto;

  h2 {
    margin: auto;
    margin-bottom: $size-700;
  }
  input,
  textarea,
  button {
    width: 100%;
    border: none;
    margin-bottom: $size-600;
    border-radius: $radius;
    padding: $size-600 $size-700;
  }
  textarea {
    resize: none;
  }
  button {
    background-color: $light-orange;
    @include button-hover;
  }
}
.map-section {
  width: 100%;
  height: 62rem;
  overflow: hidden;
  .image-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    img {
      display: block;
      max-width: 100%;
    }
  }
}
